@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: rgb(175, 103, 233); */
    background: linear-gradient(180deg, rgba(175, 103, 233, 1) 0%, rgba(173, 103, 233, 1) 36%, rgba(101, 101, 231, 1) 93%);
    height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.h1:hover{
  color:#f47c57;
}
.overflow:last-child{
  overflow: hidden;
}